<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="strCon" connectionString="Data Source=LAB2PC11\SQLEXPRESS;Initial Catalog=LMS;Integrated Security=True" />
  <add name="ExamSupervisionSystem.Properties.Settings.ESPConnectionString"
   connectionString="Data Source=LAB2PC11\SQLEXPRESS;Initial Catalog=ESP;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
   providerName="System.Data.SqlClient" />
  <add name="ExamSupervisionSystem.Properties.Settings.ESPConnectionString1"
   connectionString="Data Source=DESKTOP-EBJOLA8\SQLEXPRESS;Initial Catalog=ESP;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>