USE [master]
GO
/****** Object:  Database [ESP]    Script Date: 14-09-2022 17:54:11 ******/
CREATE DATABASE [ESP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ESP', FILENAME = N'E:\My SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\ESP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ESP_log', FILENAME = N'E:\My SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\ESP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ESP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ESP]
GO
/****** Object:  Table [dbo].[tblAddBlockNo]    Script Date: 14-09-2022 17:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAddBlockNo](
	[BlockNo] [int] NULL,
	[RoomNo] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDept]    Script Date: 14-09-2022 17:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDept](
	[Did] [int] NOT NULL,
	[Dname] [varchar](50) NULL,
	[Created_Date] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblExam]    Script Date: 14-09-2022 17:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblExam](
	[Exam] [varchar](50) NULL,
	[Year] [varchar](50) NULL,
	[Month] [varchar](50) NULL,
	[Date] [varchar](50) NULL,
	[Time] [varchar](50) NULL,
	[ReportingTime] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFaculty]    Script Date: 14-09-2022 17:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFaculty](
	[FID] [int] IDENTITY(1,1) NOT NULL,
	[Fname] [varchar](50) NULL,
	[Mname] [varchar](50) NULL,
	[Lname] [varchar](50) NULL,
	[contact] [varchar](50) NULL,
	[emailid] [varchar](50) NULL,
	[deptno] [int] NULL,
	[deptname] [varchar](50) NULL,
	[ac_year] [varchar](50) NULL,
	[addedBy] [varchar](50) NULL,
	[created_date] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMember]    Script Date: 14-09-2022 17:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMember](
	[mid] [int] IDENTITY(1,1) NOT NULL,
	[member_name] [varchar](50) NULL,
	[contact] [varchar](50) NULL,
	[emailid] [varchar](50) NULL,
	[deptname] [varchar](50) NULL,
	[role] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblreliever]    Script Date: 14-09-2022 17:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblreliever](
	[faculty] [varchar](max) NULL,
	[blockNO] [int] NULL,
	[RoomNo] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSupervision]    Script Date: 14-09-2022 17:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSupervision](
	[sid] [int] NOT NULL,
	[Faculty] [varchar](50) NULL,
	[BlockNo] [int] NULL,
	[RoomNo] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblYear]    Script Date: 14-09-2022 17:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblYear](
	[YearID] [int] IDENTITY(1,1) NOT NULL,
	[Year] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
